<h1 class='primary'
    data-0='opacity:0.9;'
    data-300='opacity:0;'
    >Nebraska Swoop</h1>
<div class='content'>
  <h2>
    Welcome to <strong>JayHop Helicopters</strong>: 
    Nebraska's only helicopter charter service, 
    home of the Nebraska Swoop, providing roundtrip 
    flights during University of Nebrasks sporting events. 
    Book your flight below!
  </h2>

  <%= image_tag('helicopter-flying.png', class: 'pic left') %>
  <%= image_tag('helicopter-seats.png', class: 'pic right') %>
 

  <div id='rides'
       data-0='opacity:0;'
       data-300='opacity:0.9;'
       >
    <%= simple_form_for @contact do |f| %>  

      <div class='ridetime'>
	<% getDates.each do |d| %>

	  <div id='date'>
	    <h3><%= d %></h3>
	  </div>

	  <% @rides.each do |ride| %>
	    <% @rideTime = ride.time_start.to_time.strftime("%l:%M") %>
	    <div id='time'>

	      <% if (rideDate(ride) == d) %>
		<%= @rideTime %>
		<% if ride.roundtrip == true %>
		  (roundtrip)
		<% end %>
		<%= check_box_tag "contact[ride_times][]", datetime_to_natural(ride.time_start) %>
	      <% end %>

	    </div>

	  <% end %>
	<% end %>
      </div>
    </div>

    <div id='ride-form'>

      <div class=''>
	<%= f.input :name, :required => true %>
      </div>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>

      <div class= "hidden">
	<%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
	<%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>

    </div>
  <% end %>

</div>

<script>
</script>
