<div class='content container'>
  <h1>Jayhops</h1>
  <%= link_to 'Add Ride', new_ride_path %>

  <table class="table">
    <thead>
      <tr>
	<th>Roundtrip</th>
	<th>Time start</th>
	<th>Time end</th>
	<th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rides.each do |ride| %>
	<tr>
          <td><%= ride.roundtrip %></td>
          <td><%= ride.time_start %></td>
          <td><%= ride.time_end %></td>

          <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
          <td><%= link_to 'Remove', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
