<span data-0='opacity:1;'
      data-500='opacity:0;'
      >
  <%= image_tag('logo-red.png', class: 'logo') %>
</span>

<div id='menu'>
  <span data-0='opacity:0;'
	data-500='opacity:1;'
	>
    <%= image_tag('logo-red.png', class: 'logo') %>
  </span>

  <ul>
    <li><%= link_to 'Schedule', root_path %></li>
    <li><%= link_to 'Contact', contacts_path %></li>
    <li><%= link_to 'Rides', rides_path %></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class='title'
     >
  <h3 class='pilot hidden'>
    Matthew Jones (Chief Pilot)
  </h3>
</div>

