<!DOCTYPE html>
<html>
  <head>
    <title>JayHop Helicopters</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div id="bg-img"></div>

    <div class=''>
      <%= render 'layouts/header' %>
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
    </div>

    <div id="skrollr-body">
      <div class="container">
	<%= yield %>
      </div>
    </div>

    <%#= render 'layouts/footer' %>

    <script>
     (function($){
       skrollr.init({
	 forceHeight: false,
	 smoothScrolling: false
       }).refresh();
     } (jQuery));
    </script>

  </body>
</html>
